body{
    margin:auto;
    background-color: black;
    text-align: center;
    font-family: 'Bangers', cursive;
    color:blanchedalmond;
}

body div.center{
    width: 960px; 
    height: 600px; 
    margin: 0 auto;
}

a{
    color:gold;
}